{% macro displayList(category) %}
{% for category in category %}
<div class="col-md-4">
    <div class="card">
        <h5 class="card-header">{{category.category}}</h5>
        <div class="card-body">
          <h5 class="card-title">Pitch</h5>
          <p class="card-text">{{category.details}}</p>
          <h5 class="card-title">By:{{category.user.username}}</h5>
          <a href="{{url_for('main.add_comment',pitches_id = category.id)}}" class="btn btn-primary"> Add a comment</a>
          <a href="{{url_for('main.upvote',pitches_id = category.id)}}" ><i class="fas fa-thumbs-up" ></i>Upvote <span>{{category.upvotes.count()}}</span></a>
          <a href="{{url_for('main.downvote',pitches_id = category.id)}}"><i class="fas fa-thumbs-down" ></i>Downvote <span>{{category.downvotes.count()}}</span></a>
        </div>
      </div>
</div>
{% endfor %}
{% endmacro %}
{% macro displayDetails(category) %}
{% for values in category %}
<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{values.user.username}}</h5>
          <p class="card-text">{{values.details}}</p>
        </div>
      </div>
</div>
{% endfor %}
{% endmacro %}
